<div class="container">
<% if @gig.errors.any?%>
    <div class="error_explanation">
      <h2><%= pluralize(@gig.errors.count, "error")%> prohibited this Job from being saved:</h2>
      <ul>
        <% @gig.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <h2>Post a Gig</h2>
  <%= form_for @gig do |f| %>
    <div class="row">
      <div class="col s6">
        <div class="input-field">
          <%= f.label :name %>
          <%= f.text_field :name %>
        </div>
        <div class="input-field">
          <%= f.label :budget %>
          <%= f.text_field :budget %>
        </div>
        <div class="input-field">
          <%= f.label :location %>
          <%= f.text_field :location %>
        </div>
        <div class="input-field">
          <%= f.label :description %>
          <%= f.text_field :description %>
        </div>
        <%= f.submit class: "waves-effect waves-light btn"%>
      </div>
    </div>
  <% end %>
</div>